tmp/
.*.sw*
.DS_Store
config/aws.yml
config/database.yml

log/
.bundle
public/system/*
app/assets/images/old_kittens
app/assets/old_images/old_kittens
coverage
coverage.data
public/avatar
run.sh
.rvmrc
.ruby-*
public/sitemaps/*

vendor/ruby
